.searchPage{
    padding: 20px !important;
}

.searchPage form{
    width: 40%;
    margin: auto !important;
    display: flex;
    gap: 20px;
    align-items: center;
}

.searchPage form input:first-child{
    width: 80%;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    outline: none;
}

.searchPage form input:last-child{
    width: 20%;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}

.searchResult{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px !important;
}

.searchResultUser{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.seeProfile{
    display: block;
    margin-top: 30px !important;
}